<h1>Add a venue</h1>

<form action="/venues" method="POST">
  <label>Venue Name:</label>
  <input type="text" name="name">
  <br>
  <label>Venue Location:</label>
  <input type="text" name="location">
  <br>
  <br>
  <button type="submit" value="submit">Add Venue</button>
</form>
<br>
<br>

<a href="/venues">Back</a>
