<h1> <%= @user.username %>'s venues </h1>

  <% @venues.each do |venue| %>
    <ul>
      <li><a href="/venues/<%= @user.username %>/<%= venue.id %>"><%= venue.name %></a></li>
    </ul>
  <%end%>

<br><br><br>

<li><a href="/venues/new"> Add a Venue </a></li>
<li><a href="/venues/edit"> Edit a Venue </a></li>
<li><a href="/venues/delete"> Delete a Venue </a></li>
<li><a href="/venues"> Back </a></li>
