Welcome, <%= @user.username %>

<ul>
  <li><a href="/venues/<%= @user.username %>"> Your Venues </a></li>
  <li><a href="/venues/show"> View Venues </a></li>
  <li><a href="/venues/new"> Add a Venue </a></li>
  <li><a href="/venues/edit"> Edit a Venue </a></li>
  <li><a href="/logout"> Logout </a></li>
</ul>
